<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>

  
  <meta charset="UTF-8"><title>Imperativos</title></head><body style="color: rgb(0, 0, 0); background-color: rgb(204, 255, 255);" alink="#000099" link="#000099" vlink="#990099">
<div style="text-align: center;">
<h1><small>IMPERATIVOS</small></h1>
<br>
<br>
<div style="text-align: center;"><a target="_top" href="orientada.html"><input name="logica" value="logica" type="radio"></a>Programacion Orientada a
objetos<br>
&nbsp;<a href="estruc.html" target="_top"><input name="funcional" value="funcional" type="radio"></a>Programacion Estructuradas<br>
<a href="distribuida.html"><input name="base" value="base" type="radio"></a>Programacion Distribuida<br>
</div>
<br>
<br>
<br>
</div>

</body></html>