<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>

  
  <meta charset="UTF-8"><title>SistemaExperto</title></head><body style="color: rgb(0, 0, 0); background-color: rgb(204, 255, 255);" alink="#000099" link="#000099" vlink="#990099">
<div style="text-align: center;">
<h1>Sistema experto</h1>
<br>
<form><br>
  <div style="text-align: left;"><span style="color: red;">&nbsp;Programacion declarativa:&nbsp;&nbsp; <span style="color: black;">Paradigma
de programacion </span></span>que esta basado en el desarrollo de <a title="Software">programas</a>
especificando o declarando un conjunto de condiciones, proposiciones,
afirmaciones, restricciones, ecuaciones o transformaciones que
describen el problema y detallan su solucion.<br>

  <br>
&nbsp;<span style="color: rgb(204, 0, 0);"></span><span style="color: rgb(204, 0, 0);">Programacion Imperativo:</span>&nbsp;&nbsp; Los programas imperativos son un
conjunto de instrucciones que le indican al <a title="Computador" class="mw-redirect">computador</a> como realizar una tarea.<br>
  <br>
  </div><span style="color: red;"><br>
Que tipo de programacion prefieres?</span><br>
  <br>
  <a href="declarativos.html" target="_top"><input name="Declarativo" value="Declarativo" type="radio"></a>Declarativo <a href="imperativos.html"><input name="Imperativos" value="Imperativos" type="radio"></a>Imperativo<br>
  <br>
  <label></label><br>
</form>
</div>

</body></html>